header, nav {
    text-align: center;
    padding: 5px;
}

/* Navigation bar */
nav button {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav button:hover {
    border-bottom: 3px rgb(0, 72, 255) solid;
    font-size: 2em;
    transition: 0.7s;
}

.custom-btn.current {
    color: rgb(0, 72, 255);
    font-weight: bold;
}

/* Main Content */

body {
    background-color: #8db185;
    padding: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Home page */
button.custom-btn {
    background-color: #000000; 
    border: none;
    color: white; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}
h3{
    font-size: 24px;
    color:rgb(0, 72, 255);
}
.img {
    border-radius: 25px;
}
/* About Me page */
table {
    margin: 0 auto;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
}

div {
    text-align: center;
    padding: 10px;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: rgb(5, 74, 20);
}

#table-header {
    background-color: #fefefe;
}

.table-row {
    background-color: #7bc87d;
}

ul {
    width: 500px;
    margin: 30px auto;
    text-align: left;
}

.hobby {
    color: rgb(0, 72, 255);
}
/* Footer */
footer {
    font-size: 0.8em;
    color: rgb(137, 98, 20);
}
footer img {
    width: 100px;
}