body {
    background-image: url('../img/weatherbg.png');
    background-size: cover;
    font-family: Georgia, sans-serif;
    text-align: center;
}

main {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

 .tile {
    background-color: rgba(255, 255, 255, 0.51);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    justify-self: center;
    align-self: start;
}

label {
    margin-top: 10px;
    font-family: Tahoma, sans-serif
}

button{
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    size: 1em;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #20ce28;
    transition: background-color 0.3s;
    transform: scale(1.05);
}

p {
    font-size: 1.2em;
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;

}

.resultsMsg {
    color:red;
    font-size: 1.0em;
    font-weight: lighter;
}

